[Unit]
Description=Ada service : an ada url shortener server by Lou !
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/var/www/html/ada/venv/bin/python /var/www/html/ada/server.py
[Install]
WantedBy=multi-user.target
