# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/
ada.iml
# Ada specific ignored dirs
/venv/
/ressources/public/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
